body {
	background: blue;
}

a {
	color: black;
	background-color: pink;
	padding: 2px;
}

#options {
	background-color: red;
	width: 300px;
	padding: 15px; 
}

#output {
	background-color: lightblue;
}